{
  "name": "{{ name }}",
  "version": "{{ version }}",
  "description": "{{ description | default(value='') }}",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": { "build": "tsc" },
  "devDependencies": { "typescript": "^5.0.0" }
}
